[mysqld]
user = mysql
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
host_cache_size = 0

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4